@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.App {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  max-width: 650px;
  font-weight: 300;
  height: auto;
  margin: auto;
  padding: 1rem;
}
body {
  color: #eeeeee;
  background-color: #131313;
}
.buttonBlock {
  max-width: 650px;
  margin: 1rem auto;
}
button {
  padding: 8px 20px;
  margin: 5px;
  color: #eeeeee;
  cursor: pointer;
  background-color: #2e2e2e;
  border-radius: 5px;
  border: 2px solid #2e2e2e;
}
button:focus {
  background-color: #1f1f1f;
  border: 2px solid #1f1f1f;
  outline: none;
}
.placeList {
  list-style-type: none;
  padding-left: 0;
}
.placeList li {
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem auto;
}
.placeList li div {
  margin: 0.5rem;
}
footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  line-height: 0.5rem;
}
footer a {
  text-decoration: none;
  color: #eeeeee;
  letter-spacing: 0.8px;
}
